@charset "UTF-8";
/**
        ___________________________________________
       |                                           |
       * Author : Fastmore Crak - fastmorecrak.com *
       * Redes Sociales Y Canales: @fastmorecrak   *
       * Derechos De Author Resevados©             *
       * Copyright 2021-2910 Fastmore Crak         *
	   * Released on: Jueves 1  de Abril 2021      *
       |___________________________________________|


*/

/*-------------------------------------------------------------------------
   1  Boton de Color azul bajo
   2  Boton de Color rojo y naranja con degradado bajo
 -------------------------------------------------------------------------*/
 
/*-------------------------------------------------------------------------*/
/*	1. Boton de Color azul bajo
/*-------------------------------------------------------------------------*/
@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
.button2 {
  min-width: 36px;
  min-height: 15px;
   top: -30px;
   left: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button2::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button2:hover, .button2:focus {
  color: #313133;
  transform: translateY(-6px);
}

button2:hover::before, button2:focus::before {
  opacity: 1;
}

button2::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button2:hover::after, button2:focus::after {
  animation: none;
  display: none;
}


/*-------------------------------------------------------------------------*/
/*	2.  Boton de Color rojo y naranja con degradado bajo
/*-------------------------------------------------------------------------*/

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
.button3 {
    min-width: 36px;
    min-height: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    top: -30px;
    left: 0px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgb(218 96 28) 0%, rgb(245 192 5) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(255 0 0 / 64%);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
  }

button3::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button3:hover, .button3:focus {
  color: #313133;
  transform: translateY(-6px);
}

button3:hover::before, button3:focus::before {
  opacity: 1;
}

button3::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button3:hover::after, button3:focus::after {
  animation: none;
  display: none;
}
