@charset "UTF-8";
/**
        ___________________________________________
       |                                           |
       * Author : Fastmore Crak - fastmorecrak.com *
       * Redes Sociales Y Canales: @fastmorecrak   *
       * Derechos De Author Resevados©             *
       * Copyright 2021-2910 Fastmore Crak         *
	   * Released on: Jueves 1  de Abril 2021      *
       |___________________________________________|


*/

@charset "utf-8";
* {margin: 0;padding: 0;outline: 0;	box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-mos-box-sizing: border-box}
a {text-decoration: none;transition: all 0.3s linear 0s;webkit-transition: all 0.3s linear 0s;moz-transition: all 0.3s linear 0s;o-transition: all 0.3s linear 0s;color: #323e35;font-size: 100%}
h1, h2, h3, h4, h5, h6 {padding: 0;margin: 0;font-size: 14px}
a:hover {text-decoration: none}
img {border: 0;margin: 0;padding: 0}
p {margin: 8px 0}
.clr {clear: both}

.Image-img{ overflow: hidden; position: relative; }
.Image-img:fastmore1 {content: "";display: block;padding-top: 70%;}
.Image-img img{ width: 100%;max-width: 100%;height: auto;}
.Image-img .picture {position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;overflow: hidden;}
.fchlt .vtshr .Votes{background-color: #141414;}
.ListAnmBnts > li{width: 100%;}
.lstopt-frm .btn{color: #fff;text-align: center;border-radius: 4px;padding: 6px 0}
.lstopt-frm > input{height: 34px !important}
.mask {width: 100%;height: 100%;background: rgba(0, 0, 0, .7);z-index: 998;position: fixed;top: 0;display: none}
.Description p.des{min-height:200px;max-height: 250px;overflow: hidden;}
.pagination{margin-bottom: 20px !important}
.pagination > li {display: inline;}
.pagination a {padding: 6px 12px}
.pagination li.selected a {background-color: #337ab7 !important;color: #fff}
.btn-group {position: relative;}
.open .dropdown-menu{display: block}
.dropdown-menu{position: absolute;top: 100%;left: 0;z-index: 1000;float: left;min-width: 160px;padding: 5px 0;margin: 2px 0 0;list-style: none;list-style-type: none;font-size: 14px;text-align: left;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);-webkit-background-clip: padding-box;background-clip: padding-box;display: none;}
.filters .multiselect-container > li{margin: 5px 0;position: relative;}
.filters .multiselect-container > li > label {line-height: 20px;padding: 5px 10px 5px 0 !important;background-color: transparent !important;font-size: 12px;white-space: nowrap}
.filters .multiselect-container > li > label > input{margin-right: 5px;color: #333;}
.filters .btn-group.open > button, .filters .btn-group button:hover, .filters .btn-group button:focus, .filters .btn-group button {background-color: #fff !important;box-shadow: 0 1px 1px rgba(0,0,0,.1);}
.filters .btn-group button span{font-size: 12px;color: #333;font-weight: normal;}
.Fast001Crak .Image{padding-top: 139.33333333333334%;}
.link-signup, .link-sign{float: right;}
.forget-signup{float: left;width: 100%;margin: 5px 0}
.Header > .Mid .Login .fb_login, .fb_login{background: #dd4b39 !important;width: 100%}
.login-popup-user {position: fixed;background: #fff;max-width: 300px;width: 100%;z-index: 9999;padding: 22px;left: 0;right: 0;top: calc(50% - 150px);margin: auto;display: none;border-radius: 4px;font-size: 12px;}
.login-popup-user h2{font-weight: 700;text-transform: uppercase;text-align: center;color: #000;margin-bottom: 10px;}
.login-popup-user .Form-Icon{margin-bottom: 10px !important;}
.login-popup-user  button{background: #01bcf3 !important;width: 100%}
.content-login{width: 400px;max-width: 100%;margin: 10px auto;background-color: #fff;padding: 15px;border-radius: 4px}
.content-login h1{color: #000;text-transform: uppercase;font-weight: 700;padding-bottom: 10px;}
#header_search_autocomplete { position: absolute; right: 0; top: 51px; z-index: 100; width: 120%}
#header_search_autocomplete_body { box-shadow: 0 0 5px rgba(0,0,0,.1); width: 100%; padding: 5px 0; background-color: #fff; float: left;border-radius: 5px;}
.list_search_ajax { float: left; width: 100%;border-bottom: 1px solid #f3f3f3;padding: 5px 10px;}
.list_search_ajax:last-child{border: 0;}
.list_search_ajax a { color: #3b4248; display: block; float: left; width: 100%; font-size: 12px}
.list_search_ajax a:hover { color: #01bcf3}
.list_search_ajax.focused, .list_search_ajax.focused a, .list_search_ajax a:focus { color: #fff}
.thumbnail-recent_search { width: 50px; height: 50px; background-size: 100% auto !important; background-position: center center; background-repeat: repeat !important; float: left; margin-right: 10px;border-radius: 5px;}
.list_search ul { float: left; width: 100%; margin: 0; padding: 0; margin-top: 20px; margin-left: 13px;}
.list_search ul li { float: left; list-style: none;}
.list_search ul li a { color: #FFF; display: block; width: 25px; padding: 4px 0; text-align: center;}
.list_search ul li a:hover { background-color: #00a651;}
.list_search ul li a.active { color: #3b4248;}
#search-form{position: relative;}
.error{color: red;font-size: 12px}
.Type {background-color: #01bcf3;border-color: #01bcf3;}
.Type.movies {background-color: #fd3246;border-color: #fd3246;}
.Type.ova {background-color: #ff7e00;border-color: #ff7e00;}
button[type='submit']{background-color: #01bcf3 !important; text-transform: uppercase;margin-top: 15px;width: 100%;}
button[type='submit']:hover{background-color: #3b4248 !important}
.filters button[type='submit']{width: inherit !important;margin-top: 0;}

.ListSdbr li a, .ListSdbr li{position: relative !important;}
.BtnNw-a{color: #fff !important;}
.filters .multiselect-container{margin-top: 0 !important;}
.filters{margin-bottom: 5px !important;}
.filters .multiselect-container > li > a > label::fastmore1{line-height: 24px !important;}
.filters .multiselect-container > li > a > label{white-space: nowrap;}

/*============= Iconos de Redes Sociales by Fastmore Crak =============== */

/*============= Telegram =============== */
.fa-telegram-icon{margin-left: 5px;}
.fa-telegram{background: url('../img/bg/telegram.png') no-repeat center center;padding: 9px 14px;background-size: auto 100%;}

/*============= Twitter =============== */
.fa-twitter{margin-left: 5px;}
.fa-twitter{background: url('../img/bg/twitter.png') no-repeat center center;padding: 9px 14px;background-size: auto 100%;}

/*============= Youtube =============== */
.fa-youtube{margin-left: 5px;}
.fa-youtube{background: url('../img/bg/youtube.png') no-repeat center center;padding: 9px 14px;background-size: auto 100%;}

/*============= Discord =============== */
.fa-discord{margin-left: 5px;}
.fa-discord{background: url('../img/bg/discord.png') no-repeat center center;padding: 9px 14px;background-size: auto 100%;}

/*============= Facebook =============== */
.fa-facebook{margin-left: 5px;}
.fa-facebook{background: url('../img/bg/facebook.png') no-repeat center center;padding: 9px 14px;background-size: auto 100%;}


@font-face {
    font-family: 'Cyberway Riders';
    src: url("../fonts/Cyberway Riders.otf");
    src: local("☺"), url("☺") format("woff"), url("☺") format("truetype"), url("☺") format("svg");
    font-weight: 400;
    font-style: normal; }


/*============= Section alpha =============== */


@media only screen and (max-width: 1087px) {
   
}

@media only screen and (min-width: 1001px) and (max-width: 1087px) {
        
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
       
}
@media only screen and (min-width: 726px) and (max-width: 799px) {
    
}
@media only screen and (min-width: 610px) and (max-width: 725px) {
    
    
}
@media only screen and (min-width: 480px) and (max-width: 609px) {
    	
}
@media only screen and (max-width: 467px) {
        .DeepFastmore07.Rows > li, .DeepFastmore008.Rows > li, .ListNoticias.Rows > li{
            width: 50%;
        }
        .Sidebar .mobi, .CpCnA .CapiTop .SubTitle{display: none;}
        .reportForm #contact-form select, .reportForm #contact-form textarea{width: 150px !important;}
        .CpCnA .CapiTop .Title{margin-bottom: 10px}
        
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
    
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
    
}
@media only screen and (max-width: 319px) {
    
}
