.player {
  height: 190px;
  width: 430px;
  background-color: #1E2125;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.player ul {
  list-style: none;
}
.player ul li {
  display: inline-block;
}

.player li {
    margin-top: 15px;
    margin-left: 180px;
    line-height: 0;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
}
.cover img {
  height: 190px;
  width: 190px;
}

.info h1 {
  margin-top: 15px;
  margin-left: 180px;
  line-height: 0;
}
.info h4 {
  margin-left: 180px;
  line-height: 20px;
  color: #636367;
}
.info h2 {
  margin-left: 180px;
}

.button-items {
  margin-left: 180px;
}

#slider {
  width: 182px;
  height: 4px;
  background: #151518;
  border-radius: 2px;
}
#slider div {
  width: 4px;
  height: 4px;
  margin-top: 1px;
  background: #EF6DBC;
  border-radius: 2px;
}

#timer {
  color: #494B4E;
  line-height: 0;
  font-size: 9pt;
  float: right;
  font-family: Arial, Sans-Serif;
}

.controls {
  margin-top: 20px;
}
.controls svg:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

#play {
  padding: 0 3px;
  width: 30px;
  height: 30px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
}
#play g {
  stroke: #FEFEFE;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
#play g path {
  fill: #FEFEFE;
}

#play:hover {
  cursor: pointer;
}
#play:hover g {
  stroke: #8F4DA9;
  cursor: pointer;
}
#play:hover g path {
  fill: #9b59b6;
  cursor: pointer;
}

.step-backward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.step-backward g polygon {
  fill: #FEFEFE;
}

.step-foreward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.step-foreward g polygon {
  fill: #FEFEFE;
}

#pause {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: -38px;
  cursor: pointer;
}
#pause rect {
  fill: white;
}

#pause:hover rect {
  fill: #8F4DA9;
}

.step-backward g polygon:hover, .step-foreward g polygon:hover {
  fill: #EF6DBC;
  cursor: pointer;
}
#skip {
  float: right;
  margin-top: 10px;
}
#skip p {
  color: #2980b9;
}
#skip p:hover {
  color: #e74c3c;
  cursor: pointer;
}

.expend {
  padding: 0.5px;
  cursor: pointer;
}
.expend svg:hover g polygon {
  fill: #EF6DBC;
}


/*-----contenedor de musica-----*/
.BoxMusic.alt.B .BOXFASTMOREC {
    width: 330px;
    left: 60px;
    top: 0px;
    height: auto;
    background-color: #ff00003b;
    box-shadow: 0 0 20px rgb(222 0 0);
    padding: 0px;
    color: #ff0707;
    border-radius: 50px;
    font-size: 20px;
    z-index: 1000;
}


/*-------------float-----------*/
.float {
    position: fixed;
    border-radius: 0px;
    height: 0px;
    bottom: 180px;
    right: 23px;
    font-size: 98px;
    color: red;
    box-shadow: 2px 2px 3px #0021ff;
    z-index: 1000;
    left: auto;
    top: auto;
}
.float:hover {
	text-decoration: none;
	color:red;
  background-color:red;
  z-index:900;
}

.my-float{
	margin-top:16px;
}

/*float FIN--*/
/*Music Brillo Contenedor*/
.musicPretty {
    width: 330px;
    left: 60px;
    top: 0px;
    height: auto;
    background-color: #ff00003b;
    box-shadow: 0 0 20px rgb(222 0 0);
    padding: 0px;
    color: #ff0707;
    font-size: 20px;
    border: 1px #005dff solid;
    border-radius: 60px;
    margin-top: -35px;
    margin-left: -24px;
    z-index: 1000;
}
.musicPretty:hover {
	text-decoration: none;
	color:red;
  background-color:red;
  z-index:1000;
}
/*fin de contenedor de musica..de brillo....*/

#playList {
    width: auto;
    left: auto;
    background: #ff000008;
    border-radius: 30px;
    text-align: left;
    opacity: 1000;
    color: #ffffff;
}
 li{
	padding: 8px;
}
/*Edicion de texto*/
li:hover, svg:hover {
    cursor: pointer;
    color: #2bff0f;
}
li.active{
    color: red;
    text-shadow: 1px 3px 11px rgb(255 0 0);
}
/*Edicion de texto ---FIN--*/
#controls {
    border: 1px #00ff29  solid;
    border-radius: 60px;
    padding: 10px;
    background: black;
    opacity: 0.8;
}

svg{
	color: #6c5ce7
}

progress {
    width: 92%;
    margin: 9px;
    opacity: 1.11;
    z-index: 100;
}

.timer{
	width:50%;
	position: relative;
	top:10px;
	left:0px;
	text-align:left;
	float:left;
	color: #6c5ce7;
}
.volumen{
	width:50%;
	position: relative;
	top:10px;
	right:0px;
	text-align:right;
	float:left;
	color: #6c5ce7;
	margin-bottom:20px;
}
#currentPlay {
    color: #ff0000;
}