@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
.button88{
    width: 350px;
    display: block;
    background: linear-gradient(50deg, #4a7ff7, #f21cea);
    padding: 20px 30px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: all 300ms;
}

.button88:hover{
    transform: translateY(10px);
    box-shadow: 0px 30px 5px -15px rgba(0,0,0,0.3);
}